* {
    box-sizing: border-box;
    background-color: #292b2e;
    font-family: Work Sans;
    color: white;
}

section {
    display: block;
    height: 100vh;
    align-items: baseline;
    justify-content: center;
    text-align: center;
}

img {
    height: 75px;
    width: 75px;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
}

#username-icon {
    width: 50px;
    height: 50px;
}

#username-header-display {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: transparent;
}

.logo-elements {
    display: flex;
    gap: 1rem;
}

#logo {
    animation: ease-in-out;
}

#logo:hover {
    transform: translateY(3px);
}


header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}

.username-elements {
    display: inline-flex;
    align-items: center;
}

#username-error {
    color: #f14894;
    font-size: 1.2em;
}

.title-container {
    text-align: center;
}

.title-effect {
    display: inline-block;
    font-size: 5.5rem;
    margin: 0 0 1% 0;
    overflow: hidden;
    
    background: linear-gradient(to right, #56c1ff, #bde87f, #f14894);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fading-text-container {
    position: relative;
    height: 4em;
    width: 100%;
    overflow: hidden;
}

.fading-text {
    color: #70c8fa;
    font-size: 1.2rem;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeInOut 12s linear infinite;
}

#description1 {
    animation-delay: 0s;
}

#description2 {
    animation-delay: 3s;
}

#description3 {
    animation-delay: 6s;
}

#description4 {
    animation-delay: 9s;
}

@keyframes fadeInOut {
    0% {opacity: 0}
    10% {opacity: 1}
    30% {opacity: 1}
    40% {opacity: 0} 
    100% {opacity: 0} 
}

#username-prompt {
    font-size: 1.2em;
    margin: 1.3em 0;
}

#username-input {
    overflow: hidden;
    width: 20rem;
    height: 3rem;
    border-radius: 50px;
    border-color: orange;
    background-color: #d4e5bd;
    margin-bottom: 1em;
    padding-left: 15px;
    color: black;
    font-size: 1.5rem;
}

.push-btn {
    background: #556a38;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front-btn {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: #bde87f;
    color: black;
    transform: translateY(-6px)
}

.push-btn:active .front-btn {
    transform: translateY(-2px);
}

.body-icons {
    width: 10em;
    height: 10em;
}
.difficulty-button {
    display: block;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

#easy-push {
    background: #776729;
    width: 20rem;
}

#easy-front {
    background: #ffde59;
}

#medium-push {
    background: #21648a;
        width: 20rem;
}

#medium-front {
    background: #38b6ff;
}

#hard-push {
    background: #cb3177;
        width: 20rem;
}

#hard-front {
    background: #f7759b;
}

#difficulty-tip {
    color: #70c8fa;
    font-size: 1.2rem;
}

.game-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stats-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40%;
    margin: auto;
    margin-bottom: 2em;
}

.typing-container {
    background: linear-gradient(palegoldenrod, #ffde59);
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
    margin: auto;
    margin-bottom: 2rem;
}

#timer, #score {
    font-size: 3rem;
    font-weight: bold
}

#timer-label, #timer {
    font-size: 2rem;
    color:#38b6ff;
}

#score-label, #score {
    font-size: 2rem;
    color: #bde87f;
}

#word {
    padding: 1.5rem;
    font-size: 2rem;
    margin: auto;
}

#word-input {
    font-size: 2rem;
    background-color: rgb(240, 239, 227);
    border: 2px solid black;
    outline: none;
    width: 100%;
    height: 5rem;
    text-align: center;
    resize: none;
    overflow: hidden;
    color: black
}

#word-input:focus {
    border-color: rgb(90, 40, 182);
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.overlay-box {
    padding: 2rem 3rem;
    border-radius: 12px;
    text-align: center;
}

.overlay-push {
    display: block;
    background-color:#f14894;
    width: 18em;
    margin-bottom: 1em;
}

.overlay-front{
    font-size: 1em;
    background-color: #ffde59;
}

#user-score {
    margin-bottom: 1.1rem;
    color: #bde87f;
    font-weight: bold;
}

.leaderboard-headings {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    width: 50%;
    margin: auto;
    font-size: 1em;
    margin-bottom: 0;
}

h3 {
    color: #bde87f;
    font-weight: normal;
}

#leaderboard-list {
    padding: 0;
    margin-bottom: 4em;
    width: 60%;
    margin: auto;
    margin-bottom: 2em;
    border-radius: 20px;
    padding: 1em 0;
}

#leaderboard-list li {
    display: grid;
    list-style-type: none;
    font-size: 1em;
    grid-template-columns: 1fr 4fr 1fr;
    width: 90%;
    align-items: center;
    padding: .5rem 1rem;
    margin: auto;

    background: linear-gradient(to right, #f0c3d7, #f14894);
    border: 3px solid #292b2e;
    row-gap: 20px;
    border-radius: 20px;

}

.rank, .username, .score {
    text-align: center;
    background: transparent;
}

.rank {
    color: #292b2e;
    font-weight: bold;
}

@media screen and (min-width: 730px) {


.title-effect {
    display: inline-block;
    font-size: 8rem;
    margin: 0 0 1% 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0ch;
    
    background: linear-gradient(to right, #56c1ff, #bde87f, #f14894);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: typing 4s steps(24, end) forwards;
}
.title-effect::after {
    content: "";
    display: inline-block;
    width: 4px;
    height: .8em;
    background: orange;
    margin-left: .08em;

    animation: blink 1s step-end infinite alternate;
}

@keyframes typing {
  0%   { width: 0ch; }
  60%  { width: 10ch; }
  100% { width: 10ch; }
}

@keyframes blink {
    50% {opacity: 0}
} 


#timer, #score {
    font-size: 3rem;
    font-weight: bold
}

#timer-label, #timer {
    font-size: 2.5rem;
    color:#38b6ff;
}

#score-label, #score {
    font-size: 2.5rem;
    color: #bde87f;
}

.stats-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;;
    margin: auto;
    margin-bottom: 2em;
}

.leaderboard-headings {
    font-size: 1.5em;
}

#leaderboard-list li {
    font-size: 1.3em;
}
}


.hidden {
    display: none;
}
